node_modules
lib
./source/Web.Client/node_moduless
./GUI/node_modules
AxioDB
test.js
TestDBMS
./source/Docker/node_modules
source/Docker/build
source/Docker/types
source/Docker/AxioDB_Central_Information
