node_modules
lib
./source/Web.Client/node_modules
./GUI/node_modules
AxioDB
test.js
TestDBMS
./Docker/node_modules

# Ignore the following directories and files for Docker builds
Docker/build
Docker/types
Docker/AxioDB_Central_Information

# Ignore the following directories and files for the GUI
Document/node_modules
Document/AxioDB_Docs

# Ignore the following directories and files for the Web Client
GUI/node_modules
GUI/AxioControl
