node_modules
lib
./source/Web.Client/node_modules
./GUI/node_modules
AxioDB
test.js
TestDBMS
./source/Docker/node_modules

# Ignore the following directories and files for Docker builds
source/Docker/build
source/Docker/types
source/Docker/AxioDB_Central_Information

# Ignore the following directories and files for the GUI
Document/node_modules
Document/AxioDB_Docs
